:root {
    --body-and-text-color: #EBEBEB;
    --text-color: #000000;
    --accent-1-color: #04AF98;
    --accent-2-color: #FDFF86;
    --accent-3-color: #8929FF;

    --hover-body-and-text-color: #cccccc;

    --font-size-header-and-footer: clamp(24px, 32px, 40px);
}

* {
    box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: var(--body-and-text-color);
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    scroll-behavior: smooth;
}

.header {
    background-color: var(--accent-1-color);
    width: 100%;
    height: 80px;
    padding: 0 3%;
    position: relative;
    inset: 0;
    z-index: 11;
}

.header-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.logo-header, .logo-footer, .header a {
    background-color: var(--body-and-text-color);
    color: var(--accent-1-color);
    font-size: var(--font-size-header-and-footer);
    font-weight: bold;
    padding: 10px;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.4s ease;
}

.header a:hover {
    background-color: var(--hover-body-and-text-color);
}

header a img {
    padding-left: 10px;
    transition: transform 0.4s ease;
}

header a:hover img{
    transform: rotate(-45deg);
}

.nav-header-ul {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0;
    margin: 0;
}

.nav-header-li {
    list-style: none;
}

.nav-header-li a {
    display: flex;
    align-items: center;
}

.burger-menu {
    display: none;
}

.stick {
    background-color: var(--body-and-text-color);
    width: 70px;
    height: 6px;
    border-radius: 3px;
}

.nav-header-nav-phone {
    display: none;
}

.nav-header-nav-phone.open {
    display: flex;
}

.hero {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    padding: 3%;
}

.hero::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, var(--body-and-text-color), var(--accent-1-color));
    background-size: 250% 100%;
    z-index: -1;
}

.container-hero {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.examples-of-quotes {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.example-of-quote {
    border-radius: 20px;
    border: var(--accent-1-color) 3px solid;
    display: flex;
}

.div-image-quote img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.div-quote-example {
    margin: 10px;
    width: 100%;
    height: 100%;
}

.p-quote-example {
    width: 100%;
    font-size: 16px;
    color: var(--accent-1-color);
}

.p-author-quote {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
    display: flex;
    justify-content: end;
}

.div-hero-title-and-get-start {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px;
}

.titles-of-hero {
    margin: 15px;
    
}

h1 {
    background-color: var(--accent-1-color);
    color: var(--body-and-text-color);
    border-radius: 30px;
    padding: 15px;
    width: 100%;
    position: relative;
    z-index: 4;
}

h1::after {
    position: absolute;
    content: "";
    top: 105%;
    left: 50%;
    width: 30px;
    height: 40px;
    background-color: var(--accent-1-color);
    transform: translate(-50%, -50%);
}

h2 {
    background-color: var(--accent-2-color);
    color: var(--text-color);
    border-radius: 30px;
    padding: 15px;
    width: 100%;
    position: relative;
    z-index: 5;
}

h2::after {
    position: absolute;
    content: "";
    top: 105%;
    left: 50%;
    width: 30px;
    height: 40px;
    background-color: var(--accent-2-color);
    transform: translate(-50%, -50%);
}

h3 {
    background-color: var(--accent-3-color);
    color: var(--body-and-text-color);
    border-radius: 30px;
    padding: 15px;
    width: 100%;
    position: relative;
    z-index: 6;
}

.div-get-start {
    display: inline-flex;
    align-self: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.div-get-start::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, var(--accent-1-color), var(--accent-2-color), var(--accent-3-color));
    border-radius: 20px;
    transform: scaleX(1.07) scaleY(1.12);
    filter: blur(10px);
    z-index: -1;
}

.div-get-start a {
    display: flex;
    align-items: center;
    background-color: var(--body-and-text-color);
    border-radius: 20px;
    padding: 15px;
    color: var(--accent-1-color);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.4s ease;
}

.div-get-start a:hover {
    transform: scale(1.05);
}

.div-get-start img {
    transition: transform 0.4s ease;
}

.div-get-start a:hover img {
    transform: rotate(-45deg);
}

.about-us {
    width: 100%;
    background-image: url(../assets/images/pattern-1.png);
    background-size: contain;
    background-attachment: fixed;
}

.container-about-us {
    padding: 3%;
}

.div-title-about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h4 {
    background-color: var(--accent-1-color);
    color: var(--body-and-text-color);
    font-weight: bold;
    font-size: 28px;
    padding: 10px;
    border-radius: 100px;
    margin: 0;
}

h5 {
    background-color: var(--body-and-text-color);
    color: var(--accent-1-color);
    border: 3px solid var(--accent-1-color);
    font-weight: bold;
    font-size: 28px;
    padding: 10px;
    border-radius: 100px;
    margin: 20px;
}

.div-2-cards-about-us {
    display: grid;
    justify-content: center;
    grid-template-columns: 400px 400px;
}

.card-about-us {
    padding: 15px;
    border-radius: 20px;
    background-color: #04af98ba;
    border: 3px solid var(--text-color);
    margin: 15px;
    display: flex;
    align-items: center;
    transition: backdrop-filter 0.4s ease, scale 0.4s ease;
}

.card-about-us:hover {
    backdrop-filter: blur(5px);
    scale: 1.03;
}

.p-card-about-us {
    color: var(--body-and-text-color);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.footer {
    background-color: var(--accent-1-color);
    width: 100%;
    height: 80px;
    padding: 0 3%;
}

.footer-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.div-footer-text {
    display: flex;
}

.rigths-protected-footer {
    color: var(--body-and-text-color);
    font-size: var(--font-size-header-and-footer);
    font-weight: bold;
    padding: 10px;
}

.div-a-footer {
    width: 250px;
    height: 80px;
    overflow: hidden;
}

.div-a-footer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 601px) {
    .nav-header-nav {
        display: none;
    }
    .nav-header-nav-phone {
        position: fixed;
        z-index: 10;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: var(--accent-1-color);
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .nav-header-ul-phone {
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }

    .nav-header-li-phone {
        list-style: none;
    }

    .nav-header-li-phone a {
        background-color: var(--body-and-text-color);
        color: var(--accent-1-color);
        font-size: var(--font-size-header-and-footer);
        font-weight: bold;
        padding: 10px;
        border-radius: 50px;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .container-hero {
        display: flex;
        flex-direction: column-reverse;
    }

    .div-2-cards-about-us {
        grid-template-columns: 300px;
    }

    .rigths-protected-footer, .div-a-footer {
        display: none;
    }
}

@media ((min-width: 601px) and (max-width: 1024px)) {
    .nav-header-nav {
        display: none;
    }

    .nav-header-nav-phone {
        position: fixed;
        z-index: 10;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: var(--accent-1-color);
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .nav-header-ul-phone {
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }

    .nav-header-li-phone {
        list-style: none;
    }

    .nav-header-li-phone a {
        background-color: var(--body-and-text-color);
        color: var(--accent-1-color);
        font-size: var(--font-size-header-and-footer);
        font-weight: bold;
        padding: 10px;
        border-radius: 50px;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .container-hero {
        display: flex;
        flex-direction: column-reverse;
    }

    .div-2-cards-about-us {
        grid-template-columns: 300px 300px;
    }

    .div-a-footer {
        display: none;
    }
}