:root {
    --body-and-text-color: #EBEBEB;
    --text-color: #000000;
    --accent-1-color: #04AF98;
    --accent-2-color: #FDFF86;
    --accent-3-color: #8929FF;

    --font-size-header-and-footer: clamp(24px, 32px, 40px);
}

* {
    box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: var(--body-and-text-color);
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    scroll-behavior: smooth;
}

.header {
    background-color: var(--accent-1-color);
    width: 100%;
    height: 80px;
    padding: 0 3%;
    position: relative;
    inset: 0;
    z-index: 11;
}

.header-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.logo-header, .logo-footer, .header a {
    background-color: var(--body-and-text-color);
    color: var(--accent-1-color);
    font-size: var(--font-size-header-and-footer);
    font-weight: bold;
    padding: 10px;
    border-radius: 50px;
    text-decoration: none;
}

.nav-header-li {
    list-style: none;
}

.burger-menu {
    display: none;
}

.stick {
    background-color: var(--body-and-text-color);
    width: 70px;
    height: 6px;
    border-radius: 3px;
}

.nav-header-nav-phone {
    display: none;
}

.nav-header-nav-phone.open {
    display: flex;
}

.main-container {
    position: relative;
    padding: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-of-quotes {
    width: 100%;
    max-width: 800px;
    height: 300px;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.background-filter-layer {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: brightness(0.25);
    opacity: 0.6;
    z-index: -1;
    border-radius: 20px;
    transition: filter 2s ease-in-out, opacity 2s ease-in-out;
}

.display-of-quotes::before {
    position: absolute;
    content: "";
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, var(--accent-1-color), var(--accent-2-color), var(--accent-3-color));
    filter: blur(15px);
    border-radius: 20px;
    transform: scaleX(1.05) scaleY(1.09);
    background-size: 200%;
    animation: slow-move 16s infinite ease-out;
    z-index: -1;
}

@keyframes slow-move {
    0% {
        background-position: 100% 100%;
    }
    12.5% {
        background-position: 75% 75%;
    }
    25% {
        background-position: 50% 50%;
    }
    37.5% {
        background-position: 75% 75%;
    }
    50% {
        background-position: 100% 100%;
    }
    62.5% {
        background-position: -125% -125%;
    }
    75% {
        background-position: -150% -150%;
    }
    87.5% {
        background-position: -125% -125%;
    }
    100% {
        background-position: -100% -100%;
    }
}

.div-quote {
    display: flex;
    justify-content: center;
    margin: 10px;
    position: relative;
}

.quote {
    display: inline-block;
    color: var(--body-and-text-color);
    background-color: #04AF98;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    transition: background-color 2.5s ease;
}

.quote span {
    display: inline-block;
    opacity: 1;
}

@keyframes fadeLetter {
    from {
        opacity: 0;
        transform: translateY(8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.div-author {
    height: 100%;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    margin: 10px;
}

.author-tip {
    color: var(--accent-1-color);
    font-weight: bold;
    padding: 5px;
    background-color: var(--body-and-text-color);
    border-radius: 5px 0 0 5px;
}

.author {
    padding: 5px;
    color: var(--body-and-text-color);
    background-color: var(--accent-1-color);
    border-radius: 0 5px 5px 0;
}

.management-with-quotes {
    margin: 60px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.previos, .next {
    background-color: var(--accent-1-color);
    color: var(--body-and-text-color);
    padding: 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.previos img, .next img {
    width: 80px;
    height: 40px;
}

.next img {
    transform: rotate(180deg);
}

.footer {
    background-color: var(--accent-1-color);
    width: 100%;
    height: 80px;
    padding: 0 3%;
}

.footer-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.div-footer-text {
    display: flex;
}

.rigths-protected-footer {
    color: var(--body-and-text-color);
    font-size: var(--font-size-header-and-footer);
    font-weight: bold;
    padding: 10px;
}

.div-a-footer {
    width: 250px;
    height: 80px;
    overflow: hidden;
}

.div-a-footer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 601px) {
    .nav-header-nav {
        display: none;
    }

    .nav-header-nav-phone {
        position: fixed;
        z-index: 10;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: var(--accent-1-color);
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .nav-header-ul-phone {
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }

    .nav-header-li-phone {
        list-style: none;
    }

    .nav-header-li-phone a {
        background-color: var(--body-and-text-color);
        color: var(--accent-1-color);
        font-size: var(--font-size-header-and-footer);
        font-weight: bold;
        padding: 10px;
        border-radius: 50px;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .display-of-quotes {
        height: 400px;
    }

    .management-with-quotes {
        gap: 50px;
    }

    .rigths-protected-footer, .div-a-footer {
        display: none;
    }
}

@media ((min-width: 601px) and (max-width: 1024px)) {
    .nav-header-nav {
        display: none;
    }

    .nav-header-nav-phone {
        position: fixed;
        z-index: 10;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: var(--accent-1-color);
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .nav-header-ul-phone {
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }

    .nav-header-li-phone {
        list-style: none;
    }

    .nav-header-li-phone a {
        background-color: var(--body-and-text-color);
        color: var(--accent-1-color);
        font-size: var(--font-size-header-and-footer);
        font-weight: bold;
        padding: 10px;
        border-radius: 50px;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .management-with-quotes {
        gap: 75px;
    }

    .div-a-footer {
        display: none;
    }
}